name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

  workflow_dispatch:

jobs:
  build_and_run:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v1
        with:
          node-version: 16
          start: npm run start
          wait-on: 'http://localhost:3000'
          wait-on-timeout: 110
      - run: npm install
      - run: npm test
